<div id="audiokit">
  {{#if loadingPlayer}}
    Loading...
  {{else}}
    <div class="player-left">
      <img src="{{currentSong.pic}}?param=60y60" alt="{{currentSong.title}}"/>
      <div class="player-info">
        <span class="song-title">{{currentSong.title}}</span>
        <span class="song-artist">{{currentSong.artist}}</span>
      </div>
      <div class="player-controls">
        <span {{action 'togglePlay'}}>
          {{#if playStatus}}
            {{fa-icon icon='pause' size='2'}}
          {{else}}
            {{fa-icon icon='play' size='2'}}
          {{/if}}
        </span>
        <span {{action 'toggleMute'}}>
          {{#if songIsMuted}}
            {{fa-icon icon='volume-off' size='2'}}
          {{else}}
            {{fa-icon icon='volume-up' size='2'}}
          {{/if}}
        </span>
        {{#if session.username}}
          <span {{action "favSong" currentSong session.userid }} id="heart">
            {{#if currentSong.isStared}}
              {{fa-icon icon='heart' size='2'}}
            {{else}}
              {{fa-icon icon='heart-o' size='2'}}
            {{/if}}
          </span>
        {{/if}}
    </div>
  </div>
  <div class="player-right">
    <div id="progressBar"><span id="progress"></span></div>
    <div class="player-time">{{fixedTime}}/{{fixedDuration}}</div>
  </div>
  {{/if}}
</div>
<ul class="audiolist">
{{#each songs as |item index|}}
  <li>
    <div class="song-pic"><img src="{{item.pic}}?param=60y60"></div>
    <div class="song-info">
    {{#link-to 'song' item.sid}}
      <h3 class="song-title">{{item.title}}</h3>
      <span class="song-artist">{{item.artist}}</span>
    {{/link-to}}
    </div>
    <div class="song-control">
      <a {{action 'loadSong' item index}} class="play">{{fa-icon icon='play'}}</a>
      <a class="heart">{{fa-icon icon='heart-o' }}</a>
      {{#link-to 'song' item.sid class='file' target="_blank"}} {{fa-icon icon='file-o'}} {{/link-to}}
    </div>
  </li>
{{/each}}
</ul>
