<div id="audiokit">
  {{#if loadingPlayer}}
  Loading...
  {{else}}
  {{currentSong}}  {{fixedTime}}/{{fixedDuration}}
  <button {{action 'togglePlay'}}>{{playText}}</button>
  <button {{action 'toggleMute'}}>{{muteText}}</button>
  <div id="progressBar"><span id="progress"></span></div>
  {{/if}}
</div>
{{#each songs as |item index|}}
  {{#link-to 'song' item.sid}} {{item.title}} by {{item.artist}} {{/link-to}}
  <button {{action 'loadSong' item index}}>Play {{index}}</button>
  <br/>
{{/each}}
