<h2>connected successfully douban</h2>
<img src="{{user.avatar}}" width="50"> <br/>
{{input value=user.name readonly="true"}} <br/>
{{input value=user.signature}} <br/>
{{input value=user.password type="password"}} <br/>
<button {{action "signup" user}}> Register </button>

