<header class="alt-header">
  <h2> 创建新的合辑 </h2>
</header>
<section id="container">
  <div class="create-form">
    <form>
      {{validate-input value=title
                       type='text'
                       class='input-holder'
                       placeholder='请填写专辑名称'
                       errors=errors.title}}
    <div class="input-holder">
       {{textarea value=desc
                  placeholder='请填写合辑描述 支持markdown格式'}}
      <button {{action 'togglePreview'}} {{bind-attr class="preview:topen:tclose"}}>
        {{toggleText}}
      </button>
    </div>
    {{#if preview}}
    <div class="preview-markdown">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-header">
            <h2>预览描述</h2>
            <a href="#close" class="btn-close" aria-hidden="true" {{action 'closePreview'}}>×</a> 
          </div>
          <div class="modal-body">
            {{markdown-to-html markdown=desc}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{file-uploader uploadData=uploadData}}
    <div class="mutil-holder">
    {{validate-input value=songid
                     type='text'
                     class='input-holder'
                     placeholder='enter your the song id'
                     errors=errors.songid}}
      <button type="submit" {{action 'addSong'}} {{bind-attr class="loading:loading:normal"}}>
        {{#if loading}}
        <span class="spinner"></span>
        {{else}}
        Add Song
        {{/if}}
      </button>
    </div>
    {{song-list list = songs ids = songIds}}
    </form>
    <button type="submit" {{action 'createAlbum' session.secure.data._id}}>Create Album
    </button>
  </div>
</section>
