<header class="alt-header">
  <h2> 创建新的专辑 </h2>
</header>
<section id="container">
  <div class="create-form">
    <form>
      {{validate-input value=title
                       type='text'
                       class='input-holder'
                       placeholder='enter your collection name'
                       errors=errors.title}}
     {{validate-input value=desc
                      type='text'
                      class='input-holder'
                      placeholder='enter your collection desc'
                      errors=errors.desc}}

    {{file-uploader}}
    <div class="mutil-holder">
    {{validate-input value=songid
                     type='text'
                     class='input-holder'
                     placeholder='enter your the song id'
                     errors=errors.songid}}
      <button type="submit" {{action 'addSong'}} {{bind-attr class="loading:loading:normal"}}>
        {{#if loading}}
        <span class="spinner"></span>
        {{else}}
        Add Song
        {{/if}}
      </button>
    </div>
    {{song-list list = songs ids = songIds}}
    </form>
    <button type="submit" {{action 'createAlbum' session.secure.data._id}}>Create Album
    </button>
  </div>
</section>
