<header class="alt-header">
  <h2>  注册 </h2>
</header>
<section id="container">
  <div class="signup-form">
    <form {{action 'signup' on='submit'}}>
      {{validate-input value=username
                       type='text'
                       class='input-holder'
                       placeholder='enter your username'
                       errors=errors.username}}
      {{validate-input value=password
                       type='password'
                       class='input-holder'
                       placeholder='enter your password'
                       errors=errors.password}}
      {{validate-input value=repassword
                      type='password'
                      class='input-holder'
                      placeholder='enter your password again'
                      errors=errors.repassword}}
      {{validate-input value=avatar
                      type='text'
                      class='input-holder'
                      placeholder='enter your email address'
                      errors=errors.avatar}}

      <button type="submit">注册</button>
    </form>
  </div>
</section>
{{#if message}}
  {{message}}
{{/if}}
